
.capsule {
  border: 1px solid black;
  margin: 25px;
  padding: 10px 50px;
  text-align: center;

  h2 {
    display: flex;
    display: grid;
    transition: all 1s linear;
    box-sizing: border-box;
    filter: grayscale(50%);
  }
}